/*
CSS for NYSL site
Name: style3-Own design
*/

body,
html {
  background: url(footballfield.jpg) no-repeat center center fixed;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  font-family: Verdana, Geneva, sans-serif;
}

.logo {
  position: absolute;
  visibility: hidden;
}

.name {
  position: relative;
  background-color: #064D3f;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  border-width: 10px;
  border-style: inset;
  border-color: #9cff53;
  padding: 25px;
  margin: 15px;
  font-size: 38px;
  color: white;
  text-shadow: 4px 3px black;
  text-align: right;
  word-spacing: 10px;
}

.mainimage {
  background: url(owndesignmodified.jpg);
  background-size: cover;
  background-color: #064D3f;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 15px;
  border-width: 10px;
  border-style: inset;
  border-color: #064D3f;
  color: white;
}

.navigation {
  position: relative;
  list-style-type: none;
  float: right;
  border-color: #064D3f;
  padding: 15px;
}

.nav {
  float: right;
  /*padding-right: 10px;
  padding-top: 5px;*/
}

#nav {
  font-size: 26px;
  display: inline-block;
  color: white;
  text-shadow: 2px 1px black;
  text-align: center;
  padding: 10px 14px;
}

.active {
  background-color: #064D3f;
}

.nav:hover {
  background-color: #9cff53;
}

.unterbanner1,
.unterbanner2,
.unterbanner3 {
  background-color: #064D3f;
  width: auto;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  margin: 15px;
  text-align: left;
  padding-left: 50px;
  color: white;
  font-size: 40px;
  text-shadow: 4px 3px black;
  word-spacing: 5px;
}

.content {
  position: relative;
  margin-top: 150px;
  margin-left: 300px;
  text-align: justify;
  word-spacing: 4.5px;
}

.subtitle {
  position: relative;
  color: #064d3f;
  text-shadow: 3px 2px #9cff53;
  font-size: 46px;
}

.pold {
  position: relative;
  font-size: 22px;
  text-indent: 50px;
  line-height: 1.5;
  margin-right: 100px;
  /*margin-top: 15px;*/
  margin-bottom: 35px;
}

em {
  font-style: normal;
  color: #03457e;
}

#date {
  text-decoration: underline;
  font-weight: bold;
}



/*
-------------- PAGE RULES --------------

CONTENTTITLE h1

SECTIONTITLE h2
- Subsection 
1. Listnum h3, p
+. Listsquare h3, p
    1.Sublistnum a
    1. Sublist p

*/

.rules {
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 25px;
}

.contenttitle {
  text-align: center;
}

.listnum .sublistnum .alistnum {
  /*ordered list part of a subsection -h3-*/
  /*ordered numerical sublist part of a list within a (sub)section -a-*/
  /*a within a (sub)list*/
  list-style: decimal;
}

.listsquare {
  /*unordered-square list part of a subsection -h3-* or simply a paragraph -p-*/
  list-style: square;
}

.listscircle {
  /*unordered-circle list part of a subsection -h3-* or simply a paragraph -p-*/
  list-style: circle;
}

.plistring:before {
  content: ' \25CB';
}

.sublistring {
  list-style-type: none;
}

.plistring {
  margin-left: 75px;
}

.sublistalfa {
  list-style: lower-latin;
}

.plist {
  /*paragraph within a (sub)list*/
  list-style: decimal;
}

.mainsection {
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 35px;
  padding-right: 50px;
}

.h3 {
  margin-left: 50px;
}

.plist .alist {
  margin-left: 25px;
  margin-top: 0;
  padding-top: 0;
}

.contenttitle {
  /*the whole section's title -h1, h3-*/
}

.sectiontitle {
  /*every single main section -h2-*/
}

.subsection {
  /*the section containing every single subsection -h3, plist-*/
}

.itabold {
  font-style: italic;
  font-weight: bold;
}

.itaunder {
  font-style: italic;
  text-decoration: underline;
}

/*
-------------- PAGE gameinfo --------------
*/

.gameinfo,
.maps {
  font-family: "Arial MT", sans-serif;
}

.maps {
margin-top: 50px;
}

.gameinfo {
  margin-top: 100px;
}

.itabold,
.itaunder {
  text-align: left;
  margin-left: 300px;
}

.titlegameinfo {
  text-align: center;
}

.mes,
.location,
.contact,
.questions,
.addinfo {
  /*propiedades de toda la tabla*/
  border-collapse: collapse;
  width: 50%;
  margin-left: 300px;
}

.mes td,
.mes th,
.location td,
.location th,
.contact,
.questions,
.addinfo {
  /*propiedades generales de las celdas y del encabezado*/
  /*no borders!*/
  padding: 8px;
  /*text align as shown!*/
  text-align: left;
  vertical-align: middle;
}

.mes tr,
.location tr,
#regform:nth-last-child(n) {
  /*hasta el n-simo del color indicado*/
  background-color: #f1f1f1;
}

#headermes,
#headermes1,
#headerloc,
#headerformfield,
#headerfieldvalue {
  /*Gemeinsame Merkmale des Headers*/
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  text-shadow: 2px 1px black;
  background-color: #064D3F;
}

#dates {
  /*Eigene Merkmale des Datums*/
  /*text align as shown!*/
  text-align: center;
}

#headermes {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: center;
}

#headermes1 {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: left;
}

#headerloc {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: left;
}

#leftnormal,
#leftnormal1 {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: left;
  font-weight: normal;
  padding-left: 5px;
}

#justinormal {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: justify;
  font-weight: normal;
}

#leftnormal1 {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: left;
  font-weight: normal;
  padding-left: 5px;
}

#rightnormal {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: right;
  font-weight: normal;
}

#rightbold {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: right;
  font-weight: bold;
  padding-left: 175px;
}

#leftbold {
  /*Eigene Merkmale des Headers*/
  /*text align as shown!*/
  text-align: left;
  font-weight: bold;
}

.contact,
#addinfo1,
#addinfo2 {
  height: 60px;
}

#email,
  {
  padding-left: 150px;
}

/*GAME INFO-----maps-----*/
/*
  ========================================
  MAPAS
  ========================================
*/

.scloctitle {
  text-align: center;
}

.sclocation {
  display: grid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 35px;
}

.col {
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: right;
}

.map {
  flex-wrap: wrap;
  height: 300px;
  width:300px;
  grid-column-start: 2;
}
/*---end section tables and info---*/

/*--section registration--*/
.reg {
  margin-left: 200px;
  margin-right: 210px;
  display: grid;
  grid-template-rows: 25% 3% 2% 2% 3% 10% 3% 10% 2.5% 2.5% 12.5% 15% 5%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.doublecolreg {
  display: grid;
  grid-template-columns: 70% 30%;
  display: flex;
  justify-content: space-between;
}

.regleft {
  grid-column-start: 1;
  grid-column-end: 2
}

.regright {
  grid-column-start: 2;
}

#regtitle {
  text-align: center;
}

.fixedwidth {
  display: block;
  width: 180px;
  height: auto;
  float: left;
}

.regmaindata {
  /*25%*/
  grid-row-start: 1;
  grid-row-end: 2;
}

.schools {
  /*2.5%*/
  grid-row-start: 3;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 50% 50%;
}

.postitle1 {
  /*2.5%*/
  grid-row-start: 5;
  grid-row-end: 6;
}

.postitle2 {
  /*2.5%*/
  grid-row-start: 7;
  grid-row-end: 8;
}

.positions1 {
  /*7.5%*/
  grid-row-start: 6;
  grid-row-end: 7;
  display: grid;
  grid-template-columns: 15% 15% 70%;
}

.positions2 {
  /*7.5%*/
  grid-row-start: 8;
  grid-row-end: 9;
  display: grid;
  grid-template-columns: 15% 15% 70%;
}

.posleft {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

.posright {
  display: grid;
  grid-column-start: 2;
}

.jssz {
  grid-row-start: 10;
  grid-row-end: 11;
  display: grid;
  grid-template-columns: 50% 50%;
}

.clothing {
  grid-row-start: 11;
  grid-row-end: 12;
  display: grid;
  grid-template-columns: 50% 50%;
}

.jersey {
  grid-column-start: 1;
  grid-column-end: 2;
}

.shorts {
  grid-column-start: 2;
  grid-column-end: 3;
}

.jersey,
.shorts {
  grid-row-start: 11;
  grid-row-end: 12;
  display: grid;
  grid-template-columns: 50% 50%;
}

.itemsleft {
  grid-column-start: 1;
  grid-column-end: 2;
}

.itemsright {
  grid-column-start: 2;
  align-content: flex-start;
}

.permreg {
  grid-row-start: 12;
  grid-row-end: 13;
}

.sendreg {
  grid-row-start: 13;
  grid-row-end: 14;
}

.title1,
.title3 {
  font-weight: bold;
}

.title1 {
  font-size: 100%;
}

.title2 {
  font-size: 90%;
}

.title3,
.smalltext {
  font-size: 75%;
}

.itemsleft,
.itemsright {
  font-size: 75%;
  display: flex;
  flex-direction: column;
}

/*-- Table Registration --*/

#headerregform {
  background-color: #064D3f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  margin: 15px;
  text-align: center;
  padding-left: 50px;
  color: white;
  font-size: 32px;
  text-shadow: 4px 3px black;
  word-spacing: 5px;
}

#navigationform {
  list-style-type: none;
  margin: 15px;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #064D3f;
  text-shadow: 1px 0 white;
  text-align: center;
  padding: 10px 14px;
}

#navigationform:before {
  content: ' \21E6';
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 1px #9cff53;
}

/*--
